<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	
<head th:replace="template.html :: headerfiles('index')">
	<title>Coccole & Capelli</title>
	<link rel="icon" href="images/favicon.ico" type="image/x-icon">
</head>

<body>
<header th:replace="template.html :: commonPage"></header>
<div class="container">
  <div class="row" style="max-height: 50vh;">
    <div class="col-md-6">
      <h1>Benvenuti in Coccole & Capelli</h1>
      <p>Qui puoi comodamente prenotare un appuntamento con la tua parrucchiera preferita. Se sei una nuova cliente, registrati per cominciare. Altrimenti accedi per vedere i tuoi prossimi appuntamenti.</p>
    </div>
    <div class="col-md-6">
      <img src="/images/cart.png" class="img-fluid float-left" alt="presentation image" style="background-color: transparent; transform: scale(0.5); position: relative; top: -50px;">
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 offset-md-3 d-flex justify-content-center">
      <div class="card">
        <div class="card-body text-center">
          <h3 class="card-title">Effettua il Login o Registrati:</h3>
          <a th:href="@{/login}" class="btn btn-primary btn-block text-center">Login</a>
          <a th:href="@{/register}" class="btn btn-secondary btn-block text-center">Registrati</a>
        </div>
      </div>
    </div>
  </div>
</div>
<footer th:replace="template.html :: footer"></footer>
</body>

</html>