<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	
<head th:replace="template.html :: headerfiles('registerUser')">
	<title>Registrati</title>
	<link rel="icon" href="images/favicon.ico" type="image/x-icon">
</head>

<body style="background-image: url('/images/sfondoLogin.png'); background-size: cover; min-height: 70vh; justify-content: center;"><header th:replace="template.html :: commonPage"></header>
<div class="container-fluid h-100 d-flex align-items-center"
     style="background-size: cover; min-height: 70vh; justify-content: center;">
    <div class="card mx-auto my-5" style="width: 500px;">
        <div class="card-header">Effettua la registrazione</div>
        <div class="card-body justify-content-center">
            <form th:action="@{/register}" method="POST">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" id="username" placeholder="Username" required th:field="${credential.username}">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" placeholder="Password" required th:field="${credential.password}">
                </div>
                <div class="form-group">
                    <label for="nome">Nome</label>
                    <input type="text" class="form-control" id="nome" placeholder="Nome" required th:field="${user.nome}">
                </div>
                <div class="form-group">
                    <label for="cognome">Cognome</label>
                    <input type="text" class="form-control" id="cognome" placeholder="Cognome" required th:field="${user.cognome}">
                </div>
                <div class="text-center mt-3">
                <button type="submit" class="btn btn-dark">Registrati</button>
                </div>
            </form>
        </div>
    </div>
</div>
<footer th:replace="template.html :: footer"></footer>
</body>

</html>
